
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#b71b54">
<meta name="theme-color" content="#b71b54">
<link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

<div id="root"></div>

<style>
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
       -webkit-appearance: none;
    }
    input[type="number"] {
       -moz-appearance: textfield;
    }
</style>